.book-details-img {
    height: 20rem;
    padding-left: 30%;
}

.details-title {
    text-align: center;
}

.details-author {
    text-align: center;
}

.container-details {
    padding-top: 5rem;
}

.star{
    color: yellow;
}

.details-footer{
    margin-top: 50px;
}